In [3]:
import sqlite3
dbcon = sqlite3.connect('./db/test01.db')
cursor = dbcon.cursor()

In [4]:
sql = ''' select * from T1 '''
rows = cursor.execute(sql)

In [5]:
for r in rows: print(r)

(1, 'Jane')
(2, 'Alice')
(3, 'Tom')
(4, 'James')
(5, 'Hong')
(6, 'Park')
(7, 'Kim')

In [6]:
cursor.close()
dbcon.close()