In [1]:
import pandas as pd

In [5]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BC94-2694

 C:\PySrc\06day 디렉터리

2019-09-23  오후 03:45    <DIR>          .
2019-09-23  오후 03:45    <DIR>          ..
2019-09-23  오후 03:43    <DIR>          .ipynb_checkpoints
2019-09-23  오후 02:47            15,321 1장 에제 1-4.ipynb
2019-09-23  오후 03:45            13,595 1장 예제 1 - 10.ipynb
2019-09-23  오전 11:14             2,418 1장 예제 1-1 .ipynb
2019-09-19  오후 01:34            20,402 1장 예제 1-11.ipynb
2019-09-23  오후 02:31             4,534 1장 예제 1-2.ipynb
2019-09-23  오후 02:38             4,504 1장 예제 1-3.ipynb
2019-09-23  오후 02:53             7,654 1장 예제 1-5 .ipynb
2019-09-23  오후 03:26            11,586 1장 예제 1-6.ipynb
2019-09-23  오후 03:30            11,664 1장 예제 1-7.ipynb
2019-09-23  오후 03:35             6,803 1장 예제 1-8.ipynb
2019-09-23  오후 03:41             4,738 1장 예제 1-9.ipynb
2019-09-23  오후 03:46    <DIR>          data
2019-09-23  오후 02:09            48,921 Pan05.ipynb
2019-09-23  오후 02:12             1,745 Pan05.py
2019-09-23  오후 02:21            22,862 Pan06.ipynb
2019-09-23  오후 02:15               311 Pan06.py
2019-09-23  오후 02:26            32,047 Pan07.ipynb
2019-09-23  오후 02:22               369 Pan07.py
              17개 파일             209,474 바이트
               4개 디렉터리  470,364,233,728 바이트 남음

## 예제 1-11 한글 인코딩 알아보기

In [2]:
!pip install chardet

Requirement already satisfied: chardet in c:\programdata\anaconda3\lib\site-packages (3.0.4)

In [6]:
import chardet

In [8]:
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

In [10]:
my_encoding1 = find_encoding('./data/weight_loss.csv')

In [11]:
my_encoding1

'EUC-KR'

In [13]:
df_1 = pd.read_csv('./data/weight_loss.csv', encoding=my_encoding1)

In [5]:
my_encoding1

'EUC-KR'

In [14]:
try :
    pd.read_csv('./data/weight_loss.csv', encoding="utf-8")
    
except Exception as e :
    print(e)

'utf-8' codec can't decode byte 0xc0 in position 0: invalid start byte

In [18]:
df_1.head()

   이름   월   주  몸무게
0  지완  1월  1주   70
1  찬준  1월  1주   60
2  지완  1월  2주   69
3  찬준  1월  2주   59
4  지완  1월  3주   69

In [20]:
my_encoding2 = find_encoding('./data/korea_movie_list.csv')
df_2 = pd.read_csv('./data/korea_movie_list.csv', encoding=my_encoding2)

In [9]:
my_encoding2

'CP949'

In [21]:
try :
    pd.read_csv('./data/korea_movie_list.csv', encoding="utf-8")
    
except Exception as e :
    print(e)

'utf-8' codec can't decode byte 0xc7 in position 0: invalid continuation byte

In [11]:
df_2.head(2)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN

In [23]:
df_3 = pd.read_csv('./data/korea_movie_list.csv', engine='python')

In [15]:
df_3.head(2)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN

In [24]:
try :
    pd.read_csv('./data/korea_movie_list.csv', engine='c')
except Exception as e :
    print(e)

'utf-8' codec can't decode byte 0xc7 in position 0: invalid continuation byte

In [25]:
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/attention.csv'

In [26]:
df_att = pd.read_csv(url,error_bad_lines=False)

In [27]:
df_att.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [22]:
df_att.drop('Unnamed: 0',axis=1).head()

   subject attention  solutions  score
0        1   divided          1    2.0
1        2   divided          1    3.0
2        3   divided          1    3.0
3        4   divided          1    5.0
4        5   divided          1    4.0