In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [4]:
a = None

In [5]:
id(a)

140714701114592

## 예제 1-8 결측값으로 인스턴스 생성

In [6]:
import numpy as np

In [7]:
df_na = pd.DataFrame([1,2,np.nan])

In [8]:
df_na

     0
0  1.0
1  2.0
2  NaN

In [9]:
df_na.sum()

0    3.0
dtype: float64

In [51]:
df_na.sum(skipna=False)

0   NaN
dtype: float64

In [10]:
df_na < 3

       0
0   True
1   True
2  False

In [11]:
df_na < np.nan

       0
0  False
1  False
2  False