In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

## 예제 1- 6 __getitem__ 이해하기

In [3]:
pd.Series.__getitem__

In [4]:
pd.DataFrame.__getitem__

In [5]:
pd.Index.__getitem__

In [6]:
pd.MultiIndex.__getitem__

In [7]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],index=['a','b'],
                  columns=['가','나','다','라'])

In [8]:
df.loc.__getitem__

In [9]:
df.iloc.__getitem__

In [10]:
df

   가  나  다  라
a  1  2  3  4
b  5  6  7  8

In [11]:
df['나']

a    2
b    6
Name: 나, dtype: int64

In [12]:
df.__getitem__('나')

a    2
b    6
Name: 나, dtype: int64

In [13]:
ser = df['나']

In [90]:
ser

a    2
b    6
Name: 나, dtype: int64

In [91]:
ser['a']

2

In [92]:
ser.__getitem__('a')

2

In [14]:
ser.__getitem__(ser > 3)

b    6
Name: 나, dtype: int64

In [18]:
ser[ser>3]

b    6
Name: 나, dtype: int64

In [20]:
df[df>3]

     가    나    다  라
a  NaN  NaN  NaN  4
b  5.0  6.0  7.0  8

In [17]:
df.__getitem__(df > 3)

     가    나    다  라
a  NaN  NaN  NaN  4
b  5.0  6.0  7.0  8