In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                  columns=list('abc'))

## 예제 1-5  연산을 수행할 경우 새로운 인스턴스 생성

In [10]:
df_b = df + 0

In [11]:
df_b

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
id(df_b), id(df)

(456074792240, 456061189144)

In [13]:
df_b.values.base is df.values.base

False

In [40]:
df

     a  b  c
0  100  2  3
1  100  5  6
2  100  8  9

In [14]:
import numpy as np

In [16]:
s1 = pd.Series(index=list('abcd'), data=np.arange(4))

In [17]:
s1

a    0
b    1
c    2
d    3
dtype: int32

In [18]:
s2 = s1

In [19]:
s1 is s2

True

In [20]:
s3 = s1.copy()

In [21]:
s1 is s3

False

In [22]:
df_a = df

In [23]:
df_a.values.base is df.values.base

True

In [24]:
df_c = df.copy()

In [25]:
df_c.values.base is df.values.base

False