In [1]:
import pandas as pd

## 예제 2-2 데이터프레임 멤버 알아보기

In [2]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],index=['a','b'],
                  columns=['c1','c2','c3','c4'])

In [3]:
df

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8

In [4]:
df.shape

(2, 4)

In [5]:
df.ndim

2

In [6]:
df.size

8

In [7]:
df.index

Index(['a', 'b'], dtype='object')

In [8]:
df.columns

Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
c1    2 non-null int64
c2    2 non-null int64
c3    2 non-null int64
c4    2 non-null int64
dtypes: int64(4)
memory usage: 80.0+ bytes

In [12]:
df.loc['c'] = [2,3,4,5]

In [13]:
df

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8
c   2   3   4   5

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 4 columns):
c1    3 non-null int64
c2    3 non-null int64
c3    3 non-null int64
c4    3 non-null int64
dtypes: int64(4)
memory usage: 120.0+ bytes

In [15]:
df1 = pd.DataFrame([[1,2,3,4]],index=['a'],
                  columns=['c1','c2','c3','c4'])

In [16]:
df1

   c1  c2  c3  c4
a   1   2   3   4

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, a to a
Data columns (total 4 columns):
c1    1 non-null int64
c2    1 non-null int64
c3    1 non-null int64
c4    1 non-null int64
dtypes: int64(4)
memory usage: 40.0+ bytes

In [18]:
df2 = pd.DataFrame([[1,2,3,4]],index=['aa'],
                  columns=['c1','c2','c3','c4'])

In [19]:
df2

    c1  c2  c3  c4
aa   1   2   3   4

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, aa to aa
Data columns (total 4 columns):
c1    1 non-null int64
c2    1 non-null int64
c3    1 non-null int64
c4    1 non-null int64
dtypes: int64(4)
memory usage: 40.0+ bytes