In [2]:
import pandas as pd

## 예제 2-4 파일에 저장된 멤버 정보를 읽어와서 확인하기

In [3]:
df_f = pd.read_csv('./data/series_dataframe.csv', 
                   usecols=['Member','Series','DataFrame'],
                   encoding='euc-kr')

In [4]:
df_f.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [5]:
df_f.shape

(264, 3)

In [7]:
df_f['Series'].head()

0             T
1           abs
2           add
3    add_prefix
4    add_suffix
Name: Series, dtype: object

In [9]:
df_f[df_f['Series'].isnull()]

            Member Series      DataFrame
12        applymap    NaN       applymap
21          assign    NaN         assign
33         boxplot    NaN        boxplot
38         columns    NaN        columns
47        corrwith    NaN       corrwith
70            eval    NaN           eval
83       from_dict    NaN      from_dict
84      from_items    NaN     from_items
85    from_records    NaN   from_records
106           info    NaN           info
107         insert    NaN         insert
122           join    NaN           join
130         lookup    NaN         lookup
138           melt    NaN           melt
140          merge    NaN          merge
158          pivot    NaN          pivot
159    pivot_table    NaN    pivot_table
168          query    NaN          query
196  select_dtypes    NaN  select_dtypes
199      set_index    NaN      set_index
210          stack    NaN          stack
212          style    NaN          style
227     to_feather    NaN     to_feather
229         to_gbq    NaN         to_gbq
231        to_html    NaN        to_html
235       to_panel    NaN       to_panel
236     to_parquet    NaN     to_parquet
239     to_records    NaN     to_records
242       to_stata    NaN       to_stata

In [10]:
df_f['Series'].isnull().sum()

29

In [12]:
df_f['DataFrame'].isnull().sum()

41

In [13]:
df_f['Member'] == df_f['Series']

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12     False
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21     False
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
234     True
235    False
236    False
237     True
238     True
239    False
240     True
241     True
242    False
243     True
244     True
245     True
246     True
247     True
248     True
249     True
250     True
251     True
252     True
253     True
254     True
255     True
256     True
257     True
258     True
259     True
260     True
261     True
262     True
263     True
Length: 264, dtype: bool

In [29]:
(df_f['Member'] == df_f['Series']).head()

0    True
1    True
2    True
3    True
4    True
dtype: bool