In [17]:
import pandas as pd

## 예제 2-20 명시적 인덱서 검색

In [18]:
import seaborn as sns

In [19]:
diamonds = sns.load_dataset('diamonds')

In [20]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [21]:
diamonds.shape

(53940, 10)

In [22]:
diamonds.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [23]:
type(diamonds.loc)

pandas.core.indexing._LocIndexer

In [24]:
diamonds.loc[0]

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

In [25]:
diamonds.loc[0, 'carat']

0.23

In [26]:
diamonds.loc[:, 'carat'].head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [27]:
diamonds['carat'].head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [28]:
diamonds.loc[:, 'carat'].head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [29]:
diamonds.loc[:, ['carat']].head()

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31

In [30]:
diamonds[['carat']].head()

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31

In [31]:
diamonds['carat'].head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [32]:
diamonds.xs(0)

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

In [40]:
diamonds.xs("carat",1).head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [41]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [38]:
diamonds.lookup([0,1],['carat','cut'])

array([0.23, 'Premium'], dtype=object)

In [46]:
diamonds.lookup([2,4,3],['carat','cut','color'])

array([0.23, 'Good', 'I'], dtype=object)

## 예제 2-21 암묵적 인덱서  검색

In [47]:
diamonds.iloc[0]

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

In [48]:
diamonds.iloc[0,0]

0.23

In [49]:
diamonds.iloc[0,[0]]

carat    0.23
Name: 0, dtype: object

In [50]:
diamonds.iloc[0,[0,1,2]]

carat     0.23
cut      Ideal
color        E
Name: 0, dtype: object

In [51]:
diamonds.iloc[:5, :3]

   carat      cut color
0   0.23    Ideal     E
1   0.21  Premium     E
2   0.23     Good     E
3   0.29  Premium     I
4   0.31     Good     J

## 예제 2-22 명시적 인덱서 복합 검색

In [52]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [53]:
((diamonds['carat']== 0.23) &(diamonds['cut'] == 'Very Good')).head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [57]:
diamonds.loc[((diamonds['carat']== 0.23) &(diamonds['cut'] == 'Very Good')),
             ['carat', 'cut','color','price']].head()

    carat        cut color  price
9    0.23  Very Good     H    338
21   0.23  Very Good     E    352
22   0.23  Very Good     H    353
25   0.23  Very Good     G    354
28   0.23  Very Good     D    357

In [60]:
carat_cut = diamonds.loc[((diamonds['carat']== 0.23) & 
              (diamonds['cut'] == 'Very Good')), 
             ['carat', 'cut','color','price']]

In [61]:
carat_cut.shape

(197, 4)

In [62]:
carat_cut.head()

    carat        cut color  price
9    0.23  Very Good     H    338
21   0.23  Very Good     E    352
22   0.23  Very Good     H    353
25   0.23  Very Good     G    354
28   0.23  Very Good     D    357

In [63]:
diamonds.loc[:,['carat', 'cut','color','price']].head()

   carat      cut color  price
0   0.23    Ideal     E    326
1   0.21  Premium     E    326
2   0.23     Good     E    327
3   0.29  Premium     I    334
4   0.31     Good     J    335

In [25]:
diamonds.loc._get_slice_axis(slice(0,len(diamonds))).head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [26]:
abc = diamonds.loc._get_slice_axis(slice(0,len(diamonds)))
abc.__getitem__(['carat', 'cut','color','price']).head()

   carat      cut color  price
0   0.23    Ideal     E    326
1   0.21  Premium     E    326
2   0.23     Good     E    327
3   0.29  Premium     I    334
4   0.31     Good     J    335

## 예제 2-23 문자열 값 순서 검색

In [65]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [66]:
set_i = diamonds.set_index('color')

In [68]:
set_i.head()

       carat      cut clarity  depth  table  price     x     y     z
color
E       0.23    Ideal     SI2   61.5   55.0    326  3.95  3.98  2.43
E       0.21  Premium     SI1   59.8   61.0    326  3.89  3.84  2.31
E       0.23     Good     VS1   56.9   65.0    327  4.05  4.07  2.31
I       0.29  Premium     VS2   62.4   58.0    334  4.20  4.23  2.63
J       0.31     Good     SI2   63.3   58.0    335  4.34  4.35  2.75

In [69]:
set_i.loc['E':'F']

KeyError: "Cannot get left slice bound for non-unique label: 'E'"

In [70]:
try :
    set_i.loc['E':'F']
except ValueError as e :
    print('ValueError', e)
except KeyError as e :
    print(' KeyError', e)

 KeyError "Cannot get left slice bound for non-unique label: 'E'"

In [71]:
set_i.sort_index(inplace=True)

In [76]:
set_i.loc['E':'F']

       carat        cut clarity  depth  table  price     x     y     z
color
E       2.01      Ideal     SI2   62.2   57.0  17849  8.09  8.04  5.02
E       1.51  Very Good    VVS2   60.2   61.0  17689  7.34  7.40  4.44
E       0.50      Ideal    VVS2   61.5   57.0   2236  5.09  5.12  3.14
E       1.13      Ideal    VVS1   60.6   57.0  14525  6.72  6.77  4.09
E       1.51      Ideal     VS2   62.7   57.0  14482  7.31  7.26  4.57
E       2.11    Premium     SI2   62.4   61.0  18034  8.19  8.10  5.08
E       0.53      Ideal    VVS2   61.9   55.0   2263  5.19  5.22  3.22
E       0.70       Good     SI2   57.5   58.0   2229  5.80  5.85  3.35
E       1.58      Ideal     VS2   62.7   56.0  15579  7.45  7.55  4.70
E       1.52       Good     VS1   64.0   55.0  15792  7.27  7.19  4.63
E       2.01  Very Good     SI2   63.3   61.0  15618  7.86  7.80  4.96
E       0.70  Very Good     SI2   62.6   55.0   2263  5.62  5.69  3.54
E       1.50    Premium     VS2   62.1   60.0  14386  7.31  7.27  4.53
E       1.50       Fair     VS1   65.4   57.0  15584  7.14  7.07  4.65
E       0.77    Premium     SI2   62.5   60.0   2171  5.84  5.80  3.64
E       2.19    Premium     SI2   62.4   61.0  18232  8.31  8.23  5.16
E       2.11  Very Good     SI2   62.4   61.0  17871  8.10  8.19  5.08
E       2.01    Premium     SI2   62.6   58.0  14502  8.01  7.93  4.99
E       0.71  Very Good     SI2   62.2   58.0   2238  5.68  5.74  3.55
E       0.59    Premium     VS2   60.8   57.0   2177  5.42  5.37  3.28
E       1.28    Premium      IF   59.8   59.0  15806  7.10  7.07  4.24
E       2.01      Ideal     SI2   62.2   57.0  17688  8.04  8.09  5.02
E       0.70  Very Good     SI1   62.6   58.0   2239  5.66  5.68  3.55
E       2.00       Fair     SI2   59.9   61.0  15540  8.16  8.04  4.86
E       0.71       Good     SI2   58.7   61.0   2226  5.73  5.78  3.38
E       1.51  Very Good     VS2   63.3   56.0  14482  7.30  7.26  4.61
E       0.61  Very Good     SI1   63.9   54.0   2179  5.38  5.42  3.45
E       1.54    Premium     VS2   60.8   58.0  15323  7.44  7.39  4.51
E       0.64      Ideal     VS2   62.0   55.0   2238  5.52  5.55  3.43
E       1.73       Good     SI1   64.2   58.0  14479  7.54  7.50  4.83
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
F       1.13  Very Good     SI1   63.2   56.0   5584  6.66  6.69  4.22
F       1.00    Premium     VS2   62.4   60.0   6352  6.35  6.38  3.97
F       1.02       Good     VS1   62.6   54.3   8011  6.41  6.45  4.02
F       1.02    Premium     SI1   62.3   58.0   5398  6.46  6.38  4.00
F       1.08      Ideal     VS2   61.9   55.0   7110  6.58  6.64  4.09
F       1.10  Very Good     VS2   63.5   55.0   5218  6.58  6.52  4.16
F       1.00      Ideal    VVS2   61.5   55.0   7849  6.46  6.41  3.96
F       1.01      Ideal    VVS2   61.0   57.0   8532  6.46  6.52  3.96
F       1.19       Good     SI1   57.6   60.0   5825  6.98  7.02  4.03
F       1.04       Good     VS1   63.2   57.0   7399  6.41  6.44  4.06
F       1.07  Very Good     SI1   61.6   58.0   6061  6.54  6.60  4.05
F       1.01    Premium     VS2   59.9   61.0   6097  6.50  6.46  3.88
F       1.24    Premium     VS1   60.1   59.0   9738  6.99  7.02  4.21
F       1.01    Premium     SI1   59.8   60.0   5249  6.53  6.57  3.92
F       1.23  Very Good    VVS2   62.4   58.0  10835  6.74  6.89  4.26
F       1.31      Ideal     SI1   62.4   56.0   6470  6.98  6.90  4.33
F       1.01       Good     SI1   63.9   59.0   5309  6.29  6.32  4.03
F       1.50    Premium     SI1   62.8   56.0  11154  7.36  7.30  4.60
F       1.21    Premium     VS2   61.6   58.0   8660  6.88  6.79  4.21
F       1.20      Ideal     VS2   62.6   56.0   8486  6.78  6.73  4.23
F       1.00  Very Good     VS2   62.9   59.0   5929  6.30  6.33  3.97
F       0.36    Premium     SI1   61.6   60.0    600  4.54  4.61  2.82
F       1.00    Premium     VS2   62.6   60.0   6468  6.37  6.29  3.96
F       1.24  Very Good    VVS2   59.0   58.0  11234  6.98  7.03  4.13
F       1.00  Very Good     SI1   63.3   58.0   5521  6.34  6.36  4.02
F       1.01      Ideal     VS1   62.5   54.0   7602  6.46  6.43  4.03
F       1.01    Premium     VS1   62.5   58.0   7602  6.42  6.37  4.00
F       1.05      Ideal     VS2   59.1   57.0   7697  6.67  6.66  3.94
F       1.01       Good     VS2   57.3   62.0   5487  6.63  6.59  3.79
F       1.52      Ideal     SI1   62.0   54.0  12071  7.36  7.44  4.59

[19339 rows x 9 columns]

In [75]:
try :
    set_i_str = set_i.loc['E':'F']
except ValueError as e :
    print('ValueError', e)
except KeyError as e :
    print(' KeyError', e)

In [74]:
set_i.head()

       carat        cut clarity  depth  table  price     x     y     z
color
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64
D       1.00  Very Good     SI2   63.5   59.0   4295  6.35  6.32  4.02
D       1.00       Good     SI2   57.8   58.0   4295  6.61  6.55  3.80
D       1.00  Very Good     SI2   61.5   63.0   4295  6.32  6.27  3.87
D       0.56      Ideal      IF   61.9   57.0   4293  5.28  5.31  3.28

In [73]:
set_i_str.shape

(19339, 9)

In [77]:
set_i_str.head()

       carat        cut clarity  depth  table  price     x     y     z
color
E       2.01      Ideal     SI2   62.2   57.0  17849  8.09  8.04  5.02
E       1.51  Very Good    VVS2   60.2   61.0  17689  7.34  7.40  4.44
E       0.50      Ideal    VVS2   61.5   57.0   2236  5.09  5.12  3.14
E       1.13      Ideal    VVS1   60.6   57.0  14525  6.72  6.77  4.09
E       1.51      Ideal     VS2   62.7   57.0  14482  7.31  7.26  4.57

In [78]:
set_i_str.tail()

       carat      cut clarity  depth  table  price     x     y     z
color
F       1.01    Ideal     VS1   62.5   54.0   7602  6.46  6.43  4.03
F       1.01  Premium     VS1   62.5   58.0   7602  6.42  6.37  4.00
F       1.05    Ideal     VS2   59.1   57.0   7697  6.67  6.66  3.94
F       1.01     Good     VS2   57.3   62.0   5487  6.63  6.59  3.79
F       1.52    Ideal     SI1   62.0   54.0  12071  7.36  7.44  4.59